In [1]:
#Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

#Solution- SELECT SUBSTRING(FIRST_NAME,1,3) FROM Worker;

In [2]:
#Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table

#Solution- SELECT CHARINDEX('a', FIRST_NAME) FROM Worker WHERE FIRST_NAME = 'Amitabh';

In [3]:
#Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

#Solution- SELECT FIRST_NAME, LAST_NAME, department, salary FROM Worker 
#          WHERE salary IN (SELECT MAX salary FROM Worker GROUP BY department);