In [ ]:
# Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

#Solution- SELECT * FROM Worker WHERE Joining_date BETWEEN '01-02-2022' AND '28-02-2022';

In [ ]:
# Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

#Solution- SELECT first_name, last_name, count(*) AS Duplicates FROM Workers 
#          GROUP BY first_name, last_name HAVING COUNT(*) > 1;

In [ ]:
# Q-3. How to remove duplicate rows from Employees table.

#Solution- DELETE FROM Employees WHERE SN NOT IN (Select Max(SN) from Employees Group by first_name, last_name);