In [2]:
#Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name <WORKER_NAME>.

#Solution- SELECT FIRST_NAME AS WORKER_NAME FROM Worker;

In [3]:
#Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

#Solution- SELECT DISTINCT DEPARTMENT FROM Worker;

In [4]:
#Q-3. Write an SQL query to show the last 5 record from a table.

#Solution- SELECT * FROM Worker ORDER BY id DESC LIMIT 5;